body {
	background-color: blue;
}

img {

	display: inline-block;
}

button {
	color: gray;
	width: 50px;
	height: 40px;

}

#firstbutton {
	font-family: serif;
}

#secoundbutton {
	font-family: serif;
}


.imagesblock {
	display: flex;
	flex-direction: row;
}

.imagesblock {
	margin: 100px 100px;
}

